{% extends 'homepage.html' %}
{% load static %}
{% block content %}

    <!-- ====== start loading page ====== -->
     <!-- <div id="preloader">
    </div> -->
    <!-- ====== end loading page ====== -->

    <!-- ====== start sidemenu navbar ====== -->
    {% include 'include/header.html' %}
    <!-- ====== start header ====== -->
    <header class="style-7">
        <div class="content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="info mt-5 mt-lg-0">
                            <div class="section-head style-4">
                                <div class="top-title">
                                    <img src="{% static 'assets/img/line_l.png' %}" alt="">
                                    <h5> {{ setting.title }} </h5>
                                </div>
                            </div>
                            <h1>
                                <span class="text-grad" style="font-size: 40px;"> {{ setting.description }} </span>
                            </h1>
                            <div class="d-flex flex-wrap">
                                <a href="{% url 'contact' %}" class="btn btn-icon-circle rounded-pill bg-blue7 fw-bold text-white me-4" target="_blank">
                                    <small> Связаться с {{ setting.title }} <i class="fas fa-long-arrow-alt-right"></i> </small>
                                </a>
                                <div class="inf mt-3 mt-lg-0">
                                    <p class="color-999"> Электронная почта поддержки </p>
                                    <a href="mailto: {{ setting.email }}" class="fw-bold"> {{ setting.email }} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="img mt-4 mt-lg-0">
                            <img src="{% static 'assets/img/comming_man_shape.png' %}" alt="" class="slide_up_down">
                            <!-- <img src="{% static 'assets/img/header/head7_rock.png' %}" alt="" class="rock7 slide_up_down"> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="sponsers mt-30">
                            <div class="title me-5 flex-shrink-0">
                                Наши <br> <span class="fw-bold"> Партнеры: </span>
                            </div>
                            <div class="sponsers-content">
                                {% for partner in partners %}
                                <a href="{{ partner.url }}">
                                    <img src="{{ partner.image.url }}" width="100px" alt="">
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'assets/img/header/head7_bg.png' %}" alt="" class="head7_bg slide_up_down">
    </header>
    <!-- ====== end header ====== -->

    <!--Contents-->
    <main>

        <!-- ====== start features ====== -->
        <section class="features style-7 section-padding">
            <div class="container">
                <div class="section-head text-center style-4 mb-40">
                    <div class="top-title mb-10">
                        <img src="{% static 'assets/img/line_l.png' %}" alt="">
                        <h5> {{ setting.title }} </h5>
                        <img src="{% static 'assets/img/line_r.png' %}" alt="">
                    </div>
                    <h2 class="">
                        Наши <span> услуги </span>
                    </h2>
                </div>
            </div>
            <div class="content">
                <div class="features-slider7">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for service in services %}
                            <div class="swiper-slide">
                                <a href="{% url 'services_index' %}" class="features-card style-7">
                                    <div class="icon">
                                        <img src="{{ service.icon.url }}" alt="">
                                    </div>
                                    <div class="info">
                                        <p class="color-999"> От {{ service.price }}$ </p>
                                        <h5>{{ service.title }} </h5>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="btns text-center mt-10">
                    <a href="{% url 'services_index' %}" class="btn btn-icon-circle rounded-pill bg-blue7 fw-bold text-white me-4 mb-4 mb-lg-0">
                        <small> Узнать больше <i class="fas fa-long-arrow-alt-right"></i> </small>
                    </a>
                    <a href="{% url 'contact' %}" class="btn btn-icon-circle rounded-pill bg-white fw-bold me-4">
                        <small> Связаться с нами <i class="fas fa-long-arrow-alt-right bg-light"></i> </small>
                    </a>
                </div>
            </div>
            <img src="{% static 'assets/img/feat_circle.png' %}" alt="" class="img-circle rotate-center">
        </section>
        <!-- ====== end features ====== -->

        <!-- ====== start about ====== -->
        <section class="about style-7">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="info">
                            <div class="section-head style-4 mb-40">
                                <div class="top-title mb-10">
                                    <img src="{% static 'assets/img/line_l.png' %}" alt="">
                                    <h5>О нас</h5>
                                </div>
                                <h2 class="">
                                    <span>{{ about.title }} </span>
                                </h2>
                            </div>
                            <div class="text mb-30">
                                {{ about.description }}
                            </div>
                            <ul>
                                {% for ben in benefits %}
                                <li class="d-flex mb-20"> 
                                    <i class="fas fa-check-circle color-blue7 me-2 mt-2"></i>
                                    <div class="text"> <strong class="color-000"> {{ ben.title }} </strong> {{ ben.description }} </div>    
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="img">
                            <img src="{{ about.image.url }}" alt="" class="main-img">
                            <img src="{% static 'assets/img/about/about_s4_bubble.png' %}" alt="" class="img-chart slide_up_down">
                            <span class="circle scale_up_down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/img/about/about_s4_wave.png' %}" alt="" class="top-wave">
            <img src="{% static 'assets/img/about/about_s4_wave.png' %}" alt="" class="bottom-wave">
            <img src="{% static 'assets/img/about/about7_lines.png' %}" alt="" class="bg-lines">
        </section>
        <!-- ====== end about ====== -->

        <!-- ====== start services ====== -->
        <section class="services style-7 pt-100">
            <div class="container">
                <div class="section-head text-center style-4 mb-50">
                    <div class="top-title mb-10">
                        <img src="{% static 'assets/img/line_l.png' %}" alt="">
                        <h5> {{ setting.title }} </h5>
                        <img src="{% static 'assets/img/line_r.png' %}" alt="">
                    </div>
                    <h2 class="">
                        Что мы <span> предоставляем </span> <br> нашим клиентам
                    </h2>
                </div>
                <div class="services-content pb-100">
                    <div class="row">
                        {% for ben in benefits %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item-style7">
                                <div class="img">
                                    <img src="{{ ben.icon.url }}" alt="">
                                    <span class="icon">
                                        <i class="fas fa-globe"></i>
                                    </span>
                                </div>
                                <div class="info">
                                    <h6> {{ ben.title }} </h6>
                                    <p class="text"> {{ ben.description }} </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== end services ====== -->

        

        <!-- ====== start testimonials ====== -->
        <section class="testimonials style-7 section-padding">
            <div class="container">
                <div class="section-head text-center style-4 mb-80">
                    <div class="top-title mb-10">
                        <img src="{% static 'assets/img/line_l.png' %}" alt="">
                        <h5> {{ setting.title }} отзывы </h5>
                        <img src="{% static 'assets/img/line_r.png' %}" alt="">
                    </div>
                    <h2 class="">
                        {{ reviews.all.count }} отзывов <span> о </span> <br> {{ setting.title }} 
                    </h2>
                </div>
                <div class="testimonials-slider7 position-relative overflow-hidden">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for review in reviews %}
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-10">
                                            <div class="testi-card">
                                                <div class="text">
                                                    “ {{ review.title }} ”
                                                </div>
                                                <div class="author">
                                                    <div class="img icon-60 rounded-circle overflow-hidden img-cover me-3 flex-shrink-0">
                                                        <img src="{{ review.image.url }}" alt="">
                                                    </div>
                                                    <div class="inf">
                                                        <p> {{ review.job_title }} </p>
                                                        <h6> {{ review.name_surname }} </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/img/testimonials/testi7_back.png' %}" alt="" class="img_back slide_up_down">
            <img src="{% static 'assets/img/testimonials/testi7_qout.png' %}" alt="" class="testi_qout">
        </section>
        <!-- ====== end testimonials ====== -->

        <!-- ====== start choose-us ====== -->
        <section class="choose-us style-7 section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="img">
                            <img src="{{ about.image.url }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info">
                            <div class="section-head style-4 mb-40">
                                <div class="top-title mb-10">
                                    <img src="{% static 'assets/img/line_l.png' %}" alt="">
                                    <h5> {{ setting.title }} </h5>
                                </div>
                                <h2 class="text-white">
                                    Почему <span> выбирают </span> <br> нас? 
                                </h2>
                            </div>
                            <ul>
                                {% for ben in benefits %}
                                <li>
                                    <div class="icon">
                                        <img src="{{ ben.icon.url }}" alt="">
                                    </div>
                                    <div class="inf">
                                        <h6> {{ ben.title }} </h6>
                                        <p> {{ ben.description }} </p> 
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/img/about/about_s4_wave.png' %}" alt="" class="top-wave">
            <img src="{% static 'assets/img/about/about_s4_wave.png' %}" alt="" class="bottom-wave">
            <img src="{% static 'assets/img/choose_us/choose7_circe.png' %}" alt="" class="choose-circle rotate-center">
        </section>
        <!-- ====== end choose-us ====== -->

        <!-- ====== start blog ====== -->
        <section class="blog style-7 section-padding">
            <div class="container">
                <div class="section-head text-center style-4 mb-80">
                    <div class="top-title mb-10">
                        <img src="{% static 'assets/img/line_l.png' %}" alt="">
                        <h5> Новости </h5>
                        <img src="{% static 'assets/img/line_r.png' %}" alt="">
                    </div>
                    <h2 class="">
                        Новости о <span> {{ setting.title}} </span>
                    </h2>
                </div>
                <div class="content">
                    <div class="row">
                        {% for new in news %}
                        <div class="col-lg-4">
                            <div class="blog-card style-7 mt-5 mt-lg-0">
                                <div class="img img-cover">
                                    <img src="{{ new.image.url }}" alt="">
                                </div>
                                <div class="info pt-40">
                                    <div class="date-tags">
                                        <div class="tags">
                                            <a href="page-blog-app.html">IT</a>
                                        </div>
                                        <a href="#" class="date">
                                            {{ new.created|truncatewords:1 }}
                                        </a>
                                        <span class="color-999"> | </span>
                                        <a href="#" class="author color-999">
                                            <span class="color-000 fw-bold"> {{ setting.title }} </span>
                                        </a>
                                    </div>
                                    <h4 class="title">
                                        {{ new.title }}
                                    </h4>
                                    <a href="page-single-post-app.html"> {{ new.description|truncatewords:10 }} </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/img/shap_color_7.png' %}" alt="" class="shap_color">
        </section>
        <!-- ====== end blog ====== -->

        <!-- ====== start chat-banner ====== -->
        <section class="chat-banner style-7">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-3 col-sm-6 d-none d-lg-block">
                        <div class="img img1">
                            <img src="assets/img/vector1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="info">
                            <p> У нас есть телеграм бот, который работает 24/7 </p>
                            <h3> Напиште нам в telegram </h3>
                            <div class="btns mt-50">
                                <a href="{{ setting.telegram_bot }}" class="btn btn-icon-circle rounded-pill bg-black fw-bold text-white me-4 mb-3 mb-lg-0">
                                    <small> Написать боту <i class="fas fa-long-arrow-alt-right"></i> </small>
                                </a>
                                <a href="{% url 'portfolio_index' %}" class="btn btn-icon-circle rounded-pill fw-bold brd-light text-white hover-blue7">
                                    <small> Посмотреть портфолио <i class="fas fa-long-arrow-alt-right bg-light"></i> </small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="img img2">
                            <img src="{% static 'assets/img/vector2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== end chat-banner ====== -->
    </main>
    <!--End-Contents-->

    <!-- ====== start footer ====== -->
    {% include 'include/footer.html' %}
    <!-- ====== end footer ====== -->

    <!-- ====== start to top button ====== -->
    <a href="#" class="to_top bg-gray rounded-circle icon-40 d-inline-flex align-items-center justify-content-center">
        <i class="bi bi-chevron-up fs-6 text-dark"></i>
    </a>
    <!-- ====== end to top button ====== -->

{% endblock %}