{% extends 'homepage.html' %}
{% load static %}
{% block content %}

    <!-- ====== start navbar ====== -->
    {% include 'include/header.html' %}
    <!-- ====== end navbar ====== -->
    </div>

    <!--Contents-->
    <main class="erorr-404-page style-5">

        <!-- ====== start careers-features ====== -->
        <section class="erorr-page style-5">
            <div class="container">
                <div class="content">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icons/rocket.png' %}" alt="">
                                </div>
                                <h2 class="mb-30"> Упс! Похоже, здесь ничего нет. </h2>
                                <p class="color-777"> Страница, которую вы ищете, не найдена. </p>
                                <a href="{% url 'index' %}" class="btn rounded-pill blue5-3Dbutn hover-blue2 sm-butn fw-bold mt-40">
                                    <span> <i class="fas fa-long-arrow-left me-2"></i> Домой </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 text-lg-end">
                            <div class="img">
                                <img src="{% static 'assets/img/404_1.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== end timeline ====== -->

    </main>
    <!--End-Contents-->

    <!-- ====== start to top button ====== -->
    <a href="#" class="to_top bg-gray rounded-circle icon-40 d-inline-flex align-items-center justify-content-center">
        <i class="bi bi-chevron-up fs-6 text-dark"></i>
    </a>
    <!-- ====== end to top button ====== -->

    <script>
        const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24,
        week = hour * 24 * 7;

        let countDown = new Date('Oct 29, 2022 11:30').getTime(),
            x = setInterval(function() {

                let now = new Date().getTime(),
                    distance = countDown - now;

                document.getElementById('days').innerText = Math.floor(distance / (day)),
                document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
                document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
                document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

                //do something later when date is reached
                //if (distance < 0) {
                //  clearInterval(x);
                //  'IT'S MY BIRTHDAY!;
                //}

            }, second)
    </script>

{% endblock %}