{% extends 'homepage.html' %}
{% load static %}
{% block content %}

    <!-- ====== start navbar ====== -->
    {% include 'include/header.html' %}
    <!-- ====== end navbar ====== -->

    <!--Contents-->
    <main class="single-project pt-50 style-5">

        <!-- ====== start about ====== -->
        <section class="about-app style-5">
            <div class="container">
                <div class="content text-center">
                    <h1 class="color-000 mb-50">{{ portfolio.title }}</h1>
                    <div class="about-cards border-bottom brd-gray">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="about-card mb-30 mb-lg-0">
                                    <small class="d-block">
                                        Заказчик
                                    </small>
                                    <h6>
                                        {{ portfolio.title }}
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="about-card mb-30 mb-lg-0">
                                    <small class="d-block">
                                        Услуга
                                    </small>
                                    <h6>
                                        {{ portfolio.project_type }}
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="about-card mb-30 mb-lg-0">
                                    <small class="d-block">
                                        Стоимость
                                    </small>
                                    <h6>
                                        {{ portfolio.price }}$
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="about-card mb-30 mb-lg-0">
                                    <small class="d-block">
                                        Испольнитель
                                    </small>
                                    <h6>
                                        {{ setting.title }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="img-content pt-70 pb-70 border-bottom brd-gray overflow-hidden">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="img text-center">
                                    <img src="{{ portfolio.image.url }}" alt="" class="main-img">
                                    <img src="{% static 'assets/img/single_project/bubbls.png' %}" alt="" class="bubbls">
                                    <img src="{% static 'assets/img/single_project/circle.png' %}" alt="" class="circle">
                                </div>
                                <div class="info mt-30">
                                    <h5 class="lh-4">
                                        {{ portfolio.description }}
                                    </h5>
                                    <a href="{{ portfolio.url }}" class="color-blue4 mt-60">{{ portfolio.url }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== end about ====== -->


        <!-- ====== start challenge ====== -->
        <div class="challenge section-padding style-5 overflow-hidden">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-lg-4">
                        <div class="section-head style-4">
                            <h2 class=""> Особенности <br> <span> проекта </span> </h2>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="inf">
                            <div class="text color-666 mb-20">
                                {{ portfolio.description }}
                            </div>
                            <ul class="color-000">
                                {% for features in portfolio.features_portfolio.all %}
                                <li class="d-flex mb-10">
                                    <i class="bi bi-dot fs-6 me-2"></i>
                                    {{ features.title }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====== end challenge ====== -->


        <!-- ====== start screenshots  ====== -->
        <div class="screenshots style-4">
            <div class="screenshots-slider style-4">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="{% static 'assets/img/screenshots/1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="{% static 'assets/img/screenshots/2.png' %}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="{% static 'assets/img/screenshots/3.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="{% static 'assets/img/screenshots/4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="{% static 'assets/img/screenshots/5.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/img/screenshots/hand.png' %}" alt="" class="mob-hand">
        </div>
        <!-- ====== end screenshots  ====== -->


        <!-- ====== start about ====== -->
        <section class="about-app style-5">
            <div class="container">
                <div class="content text-center">
                    <div class="img-content pt-70 pb-100 border-bottom brd-gray">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="info mt-30">
                                    <h5 class="lh-4">
                                        {{ about.description }}
                                    </h5>
                                    <a href="#" class="mt-60 color-666 fs-12px text-uppercase">- <strong class="color-000">{{ setting.title }} </strong> , By Toktorov Kurmanbek - </a>
                                    <!-- <div class="share mt-100">
                                        <span class="color-999 fs-12px text-uppercase d-block"> share this project  </span>
                                        <a href="#" class="social-icon hover-blue4">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon hover-blue4">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#" class="social-icon hover-blue4">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                        <a href="#" class="social-icon hover-blue4">
                                            <i class="fab fa-goodreads-g"></i>
                                        </a>
                                        <a href="#" class="social-icon hover-blue4">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== end about ====== -->

        <!-- ====== start projects ====== -->
        <section class="projects style-6 p-0">
            <div class="content section-padding rounded-0">
                <div class="container">
                    <div class="section-head text-center mb-60 style-4">
                        <h2 class="mb-20"> Другие <span> проекты </span> </h2>
                        <p>Другие проекты команды {{ setting.title }}</p>
                    </div>
                    <div class="slider-3items slider-style-6">
                        <div class="swiper-container pb-0">
                            <div class="swiper-wrapper">
                                {% for random in random_portfolio %}
                                <div class="swiper-slide">
                                    <div class="project-card style-6">
                                        <div class="img">
                                            <img src="{{ random.image.url }}" alt="">
                                        </div>
                                        <div class="info">
                                            <h3 class="title"><a href="page-single-project-5.html">{{ random.title }}</a></h3>
                                            <small class="color-blue6"><a href="">{{ random.project_type }}</a></small>
                                            <div class="text">
                                                {{ random.description }}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- ====== arrows ====== -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== end projects ====== -->

    </main>
    <!--End-Contents-->

    <!-- ====== start footer ====== -->
    {% include 'include/footer.html' %}
    <!-- ====== end footer ====== -->

    <!-- ====== start to top button ====== -->
    <a href="#" class="to_top bg-gray rounded-circle icon-40 d-inline-flex align-items-center justify-content-center">
        <i class="bi bi-chevron-up fs-6 text-dark"></i>
    </a>
    <!-- ====== end to top button ====== -->

{% endblock %}