{% extends 'homepage.html' %}
{% load static %}
{% block content %}

    <!-- ====== start top navbar ====== -->
    {% include 'include/header.html' %}
    <!-- ====== end navbar ====== -->

    <!--Contents-->
    <main class="portfolio-page style-1">
        <!-- ====== start portfolio-projects ====== -->
        <section class="portfolio-projects section-padding pt-50 style-1 bg-white">
            <div class="container">
                <div class="section-head text-center style-4 mb-40">
                    <small class="title_small">Портфолио</small>
                    <h2 class="mb-20">Наши  <span> Проекты </span> </h2>
                    <p>У нас есть опытная команда разработчиков, которые сделают проект точно в срок.</p>
                </div>
               
                <section class="portfolio style-1">
                    <div class="content">
                        <div class="row mix-container">
                            {% for port in portfolio %}
                            <div class="col-lg-4 mix security consultation">
                                <div class="portfolio-card mb-50">
                                    <div class="img">
                                        <img src="{{ port.image.url }}" alt="">
                                    </div>
                                    <div class="info">
                                        <h5>
                                            <a href="{% url 'portfolio_detail' port.id %}"> {{ port.title }} </a> 
                                        </h5>
                                        <small class="d-block color-main text-uppercase">{{ port.portfolio_type }}</small>
                                        <div class="text">
                                            {{ port.description }}
                                        </div>
                                        <div class="tags">
                                            <a href="#">Consultation</a>
                                            <a href="#">Management</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- <div class="text-center">
                        <a href="#" class="btn rounded-pill bg-blue4 fw-bold text-white me-4" target="_blank">
                            <small> Показать еще(24) </small>
                        </a>
                    </div> -->
                </section>
            </div>
        </section>
        <section class="download section-padding style-5 bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="content text-center">
                            <div class="section-head text-center style-4">
                                <h2 class="mb-20"> {{ setting.description }}  <span> {{ setting.title }} </span> </h2>
                            </div>
                            <div class="butns mt-70">
                                <a href="{% url 'contact' %}" class="btn rounded-pill bg-blue4 fw-bold text-white me-4" target="_blank">
                                    <small> Связаться </small>
                                </a>
                                <a href="{% url 'services_index' %}" class="btn rounded-pill hover-blue4 fw-bold border-blue4" target="_blank">
                                    <small> Узнать цены </small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/img/contact_globe.svg' %}" alt="" class="contact_globe">
        </section>
        <!-- ====== end portfolio-projects ====== -->


    </main>
    <!--End-Contents-->

    <!-- ====== start footer ====== -->
    {% include 'include/footer.html' %}
    <!-- ====== end footer ====== -->

    <!-- ====== start to top button ====== -->
    <a href="#" class="to_top bg-gray rounded-circle icon-40 d-inline-flex align-items-center justify-content-center">
        <i class="bi bi-chevron-up fs-6 text-dark"></i>
    </a>
    <!-- ====== end to top button ====== -->

    <!-- ====== request ====== -->

    <script>
        // ---------- portfolio mixitup -----------
        var containerEl = document.querySelector('.mix-container');

        var mixer = mixitup(containerEl);
    </script>

{% endblock %}