{% extends 'homepage.html' %}
{% load static %}
{% block content %}

    <!-- ====== start top navbar ====== -->
    {% include 'include/header.html' %}
    <!-- ====== end navbar ====== -->

    <!--Contents-->
    <main class="portfolio-page style-1">
        <!-- ====== start portfolio-projects ====== -->
        <section class="portfolio-projects section-padding pt-50 style-1 bg-white">
            <div class="container">
                <div class="section-head text-center style-4 mb-40">
                    <small class="title_small">Портфолио</small>
                    <h2 class="mb-20">Наши  <span> Проекты </span> </h2>
                    <p>У нас есть опытная команда разработчиков, которые сделают проект точно в срок.</p>
                </div>
               
                <section class="portfolio style-1">
                    <div class="content">
                        <div class="row mix-container">
                            {% for port in portfolio %}
                            <div class="col-lg-4 mix security consultation">
                                <div class="portfolio-card mb-50">
                                    <div class="img">
                                        <img src="{{ port.image.url }}" alt="">
                                    </div>
                                    <div class="info">
                                        <h5>
                                            <a href="{% url 'portfolio_detail' port.id %}"> {{ port.title }} </a> 
                                        </h5>
                                        <small class="d-block color-main text-uppercase">{{ port.portfolio_type }}</small>
                                        <div class="text">
                                            {{ port.description }}
                                        </div>
                                        <div class="tags">
                                            <a href="#">Consultation</a>
                                            <a href="#">Management</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn rounded-pill bg-blue4 fw-bold text-white me-4" target="_blank">
                            <small> Показать еще(24) </small>
                        </a>
                    </div>
                </section>
            </div>
        </section>
        <section class="download section-padding style-5 bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="content text-center">
                            <div class="section-head text-center style-4">
                                <h2 class="mb-20"> {{ setting.description }}  <span> {{ setting.title }} </span> </h2>
                            </div>
                            <div class="butns mt-70">
                                <a href="page-contact-app.html" class="btn rounded-pill bg-blue4 fw-bold text-white me-4" target="_blank">
                                    <small> Связаться </small>
                                </a>
                                <a href="page-about-app.html" class="btn rounded-pill hover-blue4 fw-bold border-blue4" target="_blank">
                                    <small> Узнать цены </small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/img/contact_globe.svg' %}" alt="" class="contact_globe">
        </section>
        <!-- ====== end portfolio-projects ====== -->


    </main>
    <!--End-Contents-->

    <!-- ====== start footer ====== -->
    <footer class="style-4 mt-0 pt-100">
        <div class="container">
            <div class="section-head text-center style-4">
                <h2 class="mb-10"> Напишите нашему <span> Боту </span> </h2>
                <p>Напишите нашему телеграм боту, чтобы узнать по подробнее.</p>
                <div class="d-flex align-items-center justify-content-center mt-50">
                    <a href="https://www.apple.com/app-store/" class="btn rounded-pill bg-blue4 fw-bold text-white me-4" target="_blank">
                        <small> <i class="fab fa-apple me-2 pe-2 border-end"></i> Связаться </small>
                    </a>
                    <a href="https://play.google.com/store/apps" class="btn rounded-pill hover-blue4 fw-bold border-blue4" target="_blank">
                        <small> <i class="fab fa-google-play me-2 pe-2 border-end"></i> Написать телеграм боту </small>
                    </a>
                </div>
            </div>
            <div class="foot mt-80">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <div class="logo">
                            <img src="{{ setting.logo.url }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <ul class="links">
                            <li>
                                <a href="home-app-landing.html" class="active">Домой</a>
                            </li>
                            <li>
                                <a href="page-about-5.html">О нас</a>
                            </li>
                            <li>
                                <a href="page-portfolio-5.html">Портфолио</a>
                            </li>
                            <li>
                                <a href="page-services-5.html">Команда</a>
                            </li>
                            <li>
                                <a href="page-shop-5.html">Новости</a>
                            </li>
                            <li>
                                <a href="page-contact-5.html">Связаться</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <div class="dropdown">
                            <button class="icon-25 dropdown-toggle p-0 border-0 bg-transparent rounded-circle img-cover" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% static 'assets/img/lang.png' %}" alt="" class="me-2">
                                <small>RU</small>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">KG</a></li>
                                <li><a class="dropdown-item" href="#">US</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copywrite text-center">
                <small class="small">
                    © 2022 Copyrights by <a href="#" class="fw-bold text-decoration-underline">{{ setting.title }}.</a> All Rights Reserved.</a>
                </small>
            </div>
        </div>
        <!-- <img src="assets/img/footer/footer_4_wave.png" alt="" class="wave"> -->
    </footer>
    <!-- ====== end footer ====== -->

    <!-- ====== start to top button ====== -->
    <a href="#" class="to_top bg-gray rounded-circle icon-40 d-inline-flex align-items-center justify-content-center">
        <i class="bi bi-chevron-up fs-6 text-dark"></i>
    </a>
    <!-- ====== end to top button ====== -->

    <!-- ====== request ====== -->

    <script>
        // ---------- portfolio mixitup -----------
        var containerEl = document.querySelector('.mix-container');

        var mixer = mixitup(containerEl);
    </script>

{% endblock %}